# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- script: echo $(Build.BuildId)
  displayName: 'Build id'

- task: Docker@2
  inputs:
    containerRegistry: 'docker-service-connection'
    repository: 'cornplex-api'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'